<h1>Explorer#age_pie</h1>
<p>Find me in app/views/explorer/age_pie.html.erb</p>
<p> Hello This is a Pie Chart from Data Mafia </p>

<%= 6 + 7 %>
<hr>
<%= Participant.count %>
<hr>
<%= Participant.where(reason_for_using: "Study" ).count %>
