<%= form_with(model: uncomfortable_participant, local: true) do |form| %>
  <% if uncomfortable_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uncomfortable_participant.errors.count, "error") %> prohibited this uncomfortable_participant from being saved:</h2>

      <ul>
      <% uncomfortable_participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :participant_id %>
    <%= form.text_field :participant_id, id: :uncomfortable_participant_participant_id %>
  </div>

  <div class="field">
    <%= form.label :skills_for_improvement %>
    <%= form.check_box :skills_for_improvement, id: :uncomfortable_participant_skills_for_improvement %>
  </div>

  <div class="field">
    <%= form.label :first_skill %>
    <%= form.text_area :first_skill, id: :uncomfortable_participant_first_skill %>
  </div>

  <div class="field">
    <%= form.label :reason_behind_first_skill %>
    <%= form.text_area :reason_behind_first_skill, id: :uncomfortable_participant_reason_behind_first_skill %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
