<h1>Editing Uncomfortable Participant</h1>

<%= render 'form', uncomfortable_participant: @uncomfortable_participant %>

<%= link_to 'Show', @uncomfortable_participant %> |
<%= link_to 'Back', uncomfortable_participants_path %>
