<p id="notice"><%= notice %></p>

<h1>Uncomfortable Participants</h1>

<table border="1", style="font-family:arial;font-size:12px;color:#000080">
  <thead>
    <tr>
      <th>Participant</th>
      <th>Skills For Improvement</th>
      <th>First Skill</th>
      <th>Reason Behind First Skill</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uncomfortable_participants.each do |uncomfortable_participant| %>
      <tr>
        <td><%= uncomfortable_participant.skills_for_improvement %></td>
        <td><%= uncomfortable_participant.first_skill %></td>
        <td><%= uncomfortable_participant.reason_behind_first_skill %></td>
        <td><%= link_to 'Show', uncomfortable_participant %></td>
        <td><%= link_to 'Edit', edit_uncomfortable_participant_path(uncomfortable_participant) %></td>
        <td><%= link_to 'Destroy', uncomfortable_participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uncomfortable Participant', new_uncomfortable_participant_path %>
