<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= @uncomfortable_participant.participant %>
</p>

<p>
  <strong>Skills for improvement:</strong>
  <%= @uncomfortable_participant.skills_for_improvement %>
</p>

<p>
  <strong>First skill:</strong>
  <%= @uncomfortable_participant.first_skill %>
</p>

<p>
  <strong>Reason behind first skill:</strong>
  <%= @uncomfortable_participant.reason_behind_first_skill %>
</p>

<%= link_to 'Edit', edit_uncomfortable_participant_path(@uncomfortable_participant) %> |
<%= link_to 'Back', uncomfortable_participants_path %>
