<%= form_with(model: participant, local: true) do |form| %>
  <% if participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :live_in_korea %>
    <%= form.check_box :live_in_korea, id: :participant_live_in_korea %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :participant_age %>
  </div>

  <div class="field">
    <%= form.label :have_internet_access %>
    <%= form.check_box :have_internet_access, id: :participant_have_internet_access %>
  </div>

  <div class="field">
    <%= form.label :usage_frequency %>
    <%= form.number_field :usage_frequency, id: :participant_usage_frequency %>
  </div>

  <div class="field">
    <%= form.label :reason_for_using %>
    <%= form.text_area :reason_for_using, id: :participant_reason_for_using %>
  </div>

  <div class="field">
    <%= form.label :comfortability %>
    <%= form.check_box :comfortability, id: :participant_comfortability %>
  </div>

  <div class="field">
    <%= form.label :lessons_taken %>
    <%= form.check_box :lessons_taken, id: :participant_lessons_taken %>
  </div>

  <div class="field">
    <%= form.label :benefitted_how %>
    <%= form.text_area :benefitted_how, id: :participant_benefitted_how %>
  </div>

  <div class="field">
    <%= form.label :activity_list %>
    <%= form.text_area :activity_list, id: :participant_activity_list %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
