<p id="notice"><%= notice %></p>

<h1>Participants</h1>

<table border="1" style="font-family:arial;font-size:12px;color:#000080">
  <thead>
    <tr>
      <th>Live in Korea</th>
      <th>Age</th>
      <th>Have Internet Access</th>
      <th>Usage Frequency</th>
      <th>Reason For Using</th>
      <th>Comfortability</th>
      <th>Lessons Taken</th>
      <th>Benefitted How</th>
      <th>Activity List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.live_in_korea %></td>
        <td><%= participant.age %></td>
        <td><%= participant.have_internet_access %></td>
        <td><%= participant.usage_frequency %></td>
        <td><%= participant.reason_for_using %></td>
        <td><%= participant.comfortability %></td>
        <td><%= participant.lessons_taken %></td>
        <td><%= participant.benefitted_how %></td>
        <td><%= participant.activity_list %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
