<p id="notice"><%= notice %></p>

<p>
  <strong>Live in korea:</strong>
  <%= @participant.live_in_korea %>
</p>

<p>
  <strong>Age:</strong>
  <%= @participant.age %>
</p>

<p>
  <strong>Have internet access:</strong>
  <%= @participant.have_internet_access %>
</p>

<p>
  <strong>Usage frequency:</strong>
  <%= @participant.usage_frequency %>
</p>

<p>
  <strong>Reason for using:</strong>
  <%= @participant.reason_for_using %>
</p>

<p>
  <strong>Comfortability:</strong>
  <%= @participant.comfortability %>
</p>

<p>
  <strong>Lessons taken:</strong>
  <%= @participant.lessons_taken %>
</p>

<p>
  <strong>Benefitted how:</strong>
  <%= @participant.benefitted_how %>
</p>

<p>
  <strong>Activity list:</strong>
  <%= @participant.activity_list %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
