<!DOCTYPE html>
<meta charset="utf-8">
<style>

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>
<svg width="960" height="500"></svg>
<h1>Age of Participants (in years)</h1>
<h3>15 : 2 participants<h3>
<h3>25 : 26 participants<h3>
<h3>35 : 1 participants<h3>
<h3>45 : 1 participants<h3>
<h3>Average Age of Participants: 25.33 Years<h3>
<h4>In the survey, we wanted to identify how people from different age groups use the Internet, so asking the age was a requirement. We didn't ask the specific age of the participants. Instead, we asked them to select a range starting from 20 years, and succeeding by an interval of 10 years. We then took the average of the maximum and minimum value of that interval. For example, if a participant picked 20-30 years, his average age interval is 25 years. Those below 20 were assigned 15 years. <h4>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    radius = Math.min(width, height) / 2,
    g = svg.append("g").attr("transform", "translate(" + width / 2 + ","
+ height / 2 + ")");

var color = d3.scaleOrdinal(["#98abc5", "#8a89a6", "#7b6888", "#6b486b",
"#a05d56", "#d0743c", "#ff8c00"]);

var pie = d3.pie()
    .sort(null)
    // update the value to match out data
    .value(function(d) { return d[ 1 ]; });

var path = d3.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var label = d3.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);


  // Data is now being inserted directly rather than via csv
  data = <%= raw @data.to_json %>;
  var arc = g.selectAll(".arc")
    .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  arc.append("path")
      .attr("d", path)
      // update the value to match out data
      .attr("fill", function(d) { return color(d.data[ 1 ]); });

  arc.append("text")
      .attr("transform", function(d) { return "translate(" +
label.centroid(d) + ")"; })
      .attr("dy", "0.35em")
      // update the value to match out data
      .text(function(d) { return d.data[ 0 ]; });

</script>

<br><h4><%= link_to 'Table of Contents', 'http://localhost:3000/' %><h4><br>