<!DOCTYPE html>
<meta charset="utf-8">
<style>

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>
<svg width="960" height="500"></svg>
<h1>Participants Comfortable Using the Internet</h1>
<h3>False (No) : 2 participants<h3>
<h3>True (Yes) : 27 participants<h3>
<h4>We wanted to know how comfortable participants are using the Internet for their daily activities. Those who are not comfortable we further asked them what skills they think they need to improve upon. <h4>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    radius = Math.min(width, height) / 2,
    g = svg.append("g").attr("transform", "translate(" + width / 2 + ","
+ height / 2 + ")");

var color = d3.scaleOrdinal(["#98abc5", "#8a89a6", "#7b6888", "#6b486b",
"#a05d56", "#d0743c", "#ff8c00"]);

var pie = d3.pie()
    .sort(null)
    // update the value to match out data
    .value(function(d) { return d[ 1 ]; });

var path = d3.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var label = d3.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);


  // Data is now being inserted directly rather than via csv
  data = <%= raw @data.to_json %>;
  var arc = g.selectAll(".arc")
    .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  arc.append("path")
      .attr("d", path)
      // update the value to match out data
      .attr("fill", function(d) { return color(d.data[ 1 ]); });

  arc.append("text")
      .attr("transform", function(d) { return "translate(" +
label.centroid(d) + ")"; })
      .attr("dy", "0.35em")
      // update the value to match out data
      .text(function(d) { return d.data[ 0 ]; });

</script>

<br><h4><%= link_to 'Table of Contents', 'http://localhost:3000/' %><h4><br>