<!DOCTYPE html>
<meta charset="utf-8">
<style>

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>
<svg width="960" height="500"></svg>
<h1>Participants Live In Korea or Not </h1>
<h3>True (Yes) : 30 participants<h3>
<h3>False (No) : 0 participant</h3>	
<h4>In order to accurately reflect on the people who are actually living in Korea and not those who came here for travelling or business purposes, we asked them this question. We found out that all the participants in our survey live in Korea.<h4>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    radius = Math.min(width, height) / 2,
    g = svg.append("g").attr("transform", "translate(" + width / 2 + ","
+ height / 2 + ")");

var color = d3.scaleOrdinal(["#98abc5", "#8a89a6", "#7b6888", "#6b486b",
"#a05d56", "#d0743c", "#ff8c00"]);

var pie = d3.pie()
    .sort(null)
    // update the value to match out data
    .value(function(d) { return d[ 1 ]; });

var path = d3.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var label = d3.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);


  // Data is now being inserted directly rather than via csv
  data = <%= raw @data.to_json %>;
  var arc = g.selectAll(".arc")
    .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  arc.append("path")
      .attr("d", path)
      // update the value to match out data
      .attr("fill", function(d) { return color(d.data[ 1 ]); });

  arc.append("text")
      .attr("transform", function(d) { return "translate(" +
label.centroid(d) + ")"; })
      .attr("dy", "0.35em")
      // update the value to match out data
      .text(function(d) { return d.data[ 0 ]; });

</script>

<br><h4><%= link_to 'Table of Contents', 'http://localhost:3000/' %><h4><br>