<h1> Structured and Unstructured Data Methods </h1>
<br><br>
<p>The study that we have conducted required us asking questions that would give us both structured data such as “yes or no” questions, or age questions, or multiple choice questions and unstructured data such open ended questions (who, what, why, etc.). As we had expected, we got structured and unstructured data depending on the questions we asked.</p> 
<br><br>
<h2> Structured Data Methods: </h2>
<br>
<p> After the data has been collected from our respondents, we have gone on to do analysis of it using some of Descriptive Analytical methods. </p>
<br>
<h3> Mean: </h3>
<br>
<p> We used this method to assign each user into a particular age category. If a user said that they are between 20 and 30, then they were assigned to “25 years old” group because 25 is the mean of 20 and 30. Those who said that they are below 20 were automatically assigned to 15 year old group. But our findings suggest that most of our respondents are between 20 and 30 years old. </p>
<br><br>
<h3> Regression Analysis: </h3>
<br>
<p> Part of what wanted to find out was whether age affects the way people use internet and we wanted to see if people are less active online as they grow up. For that, we could have used regression analysis, but we could not as there were only one representative from “35 years old” and “45 years old” groups. It is our plan to get equal number of respondents for each age group in the future and do a regression analysis. It was due to time and financial restrictions. When we have enough time and financial backing for our research, we hope to be able to have a good sampling. </p>

<br><br>
<h2> Unstructured Data Method: </h2>
<br>
<h3> Frequency distribution </h3>
<br>
<p> Some of the questions we asked such as “Why do you want to learn this skill first” and “How do you think this skill has helped you or will help you in the future” gave use answers that do not fit into structured data framework, and we did not know how to analyze these on Ruby Rails, we went ahead and did analysis for ourselves in excel. </p>
<br>
<p> To analyze unstructured data, we can use “keyword” search if the data is “text” type. This is how is done to find popularity of topics on Twitter. Running “keyword” search on all the answers for “each” question individually, we can find the number of times the keyword appeared, and then calculate its frequency. </p>
<br>
<p> According to the responses, 23 people said that they lack money making or job searching skills and 8 said that they want to learn either of these skills first either because they need money or job. To find out what reasons were mentioned most for why they want to learn  specific skills or why they need to improve upon that (those) skill(s), we used keyword  function of excel by using keywords such as money and job and found that equal number of people said that they need job as the people who said that they need job (4 people); two respondent said that the skill they want to learn  saves their time. The rest of the respondents gave different other reasons which added even more complexity to our data. </p>
<br>
<p> When we asked the reasons why our respondents use internet, again, we got very unstructured data, and we had to employ keyword search function of Excel and categorize those answers. </p>
<br>

<br><h4><%= link_to 'Table of Contents', 'http://localhost:3000/' %><h4><br>
