<h1>Data Mafia</h2>
<p>Team Members: Salman Qavi, Ka-yeon Lee, Youjin Lee, Eldor Zokirov </p>

<br><h2>Table of Contents</h2>

<br><h3>Load Data from Google Spreadsheet</h3>
<%= link_to "Load Data", "/team_data/load" %>

<h3>Survey Responses</h3>
<%= link_to "Participants", "/participants" %><br>
<br><%= link_to "Uncomfortable Participants", "/uncomfortable_participants" %><br>

<h3> Data Analysis</h3>
<%= link_to "Methods and Analysis", "/data_explorer/methods" %><br>

<br><h3>Visualizations</h3>
<%= link_to "Living in Korea Pie Chart", "/data_explorer/live" %><br>
<br><%= link_to "Age Pie Chart", "/data_explorer/age" %><br>
<br><%= link_to "Have Access to the Internet Pie Chart", "/data_explorer/access" %><br>
<br><%= link_to "Comfortable using the Internet Pie Chart", "/data_explorer/comfortability" %><br>
<br><%= link_to "Lessons Taken To Learn Using The Internet Pie Chart", "/data_explorer/lessons" %><br>
<br><%= link_to "Internet Usage Frequency Pie Chart", "/data_explorer/usage" %><br>
